@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    @apply transition-all duration-200
}

html{
    scroll-behavior: smooth
}

body {
    font-family: 'Libre Baskerville', serif;
}
.dark{
    @apply bg-black text-white
}
/* src/styles/prose-overrides.css */
.prose p {
    @apply my-7 leading-7;
}

.prose-paragraph-spacing h2 {
    @apply text-3xl font-bold mt-10 mb-4;
}
.prose-paragraph-spacing h3 {
    @apply text-2xl font-semibold mt-8 mb-3;
}
.prose-paragraph-spacing h4 {
    @apply text-lg font-medium mt-6 mb-2;
}

.prose h2,
.prose h3,
.prose h4 {
    scroll-margin-top: 6rem;
}

/* Force proper list styles */
.prose ul,
.prose ol {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: -1rem 0;
}

.prose pre {
    @apply p-4 rounded-md bg-gray-100 text-sm overflow-x-auto my-5;
}

.dark .prose pre {
    @apply bg-gray-900 my-5;
}

.prose code {
    @apply bg-gray-100 text-pink-600 px-1 py-0.5 rounded font-mono text-sm;
}

.dark .prose code {
    @apply bg-gray-800 text-pink-400;
}

.prose pre code {
    @apply bg-transparent p-0 text-inherit;
}

.dark .prose pre code {
    @apply bg-transparent text-inherit;
}

.prose blockquote {
    @apply bg-gray-400/10 text-gray-800 px-2 ml-10;
}

.dark .prose blockquote {
    @apply bg-gray-800/20 text-gray-200;
}

.heading-anchor {
    text-decoration: none;
    position: relative;
    color: inherit;
}

.heading-anchor::before {
    content: "#";
    position: absolute;
    left: -1.25em;
    color: #aaa;
    font-weight: normal;
    opacity: 0;
    transition: opacity 0.2s;
}

.heading-anchor:hover::before {
    opacity: 1;
}
