<section class="flex flex-col justify-center items-center text-center gap-6 mt-5 pb-10 px-6">
    <h1 class="text-4xl md:text-5xl font-bold leading-tight tracking-tight">
        Welcome to <span class="bg-gradient-to-b from-[#54336c] via-[#54336c] to-gray-400 bg-clip-text text-transparent">Thryssa</span>
    </h1>
    <p class="text-base md:text-xl italic text-gray-700 dark:text-gray-300 max-w-xl">
        A holding space for both who you are and who you're becoming — slowly, steadily, fully.
    </p>
    <div class="flex flex-col md:flex-row gap-4 mt-6">
        <button class="px-5 py-2 rounded-full border border-gray-700 dark:border-gray-400 text-sm md:text-base hover:scale-105 transition-transform">
        Read My Story
        </button>
        <button onclick="window.location.href = '/blog'" class="px-5 py-2 rounded-full border border-transparent text-sm md:text-base text-white bg-gradient-to-b from-[#54336c] via-[#54336c] to-gray-400/50 hover:scale-105 transition-transform">
        Go to Blogs
        </button>
    </div>
</section>
