---
import logo from '../assets/thryssa.svg'
import { Image } from 'astro:assets'
import DarkModeToggle from './DarkModeToggle.jsx'
---

<div class="w-full sticky top-0 flex z-5 justify-between py-3 px-10 items-center bg-white dark:bg-black shadow-[0_2px_32px_rgba(0,0,0,0.2)] dark:shadow-[0_2px_32px_rgba(255,255,255,0.2)] mb-5 md:mb-10 lg:mb-15">
    <Image src={logo} alt="Logo" class="w-[150px] cursor-pointer" onclick="window.location.href = '/'" />
    <DarkModeToggle client:load />
</div>
